package templates

import (
	"fmt"
	"github.com/kazhuravlev/database-gateway/internal/structs"

)

templ listServers(servers []structs.Server) {
	<ul>
		for _, item := range servers {
			<li><a href={ templ.URL(fmt.Sprintf("/servers/%s", item.ID)) }>{ item.ID }</a></li>
		}
	</ul>
}

templ header(user structs.User) {
	<div>
		<div>User: { user.Username }</div>
		<hr/>
	</div>
}

templ PageServersList(user structs.User, servers []structs.Server) {
	@header(user)
	@listServers(servers)
}
