package templates

import (
	"fmt"
	"github.com/kazhuravlev/database-gateway/internal/config"
	"github.com/kazhuravlev/database-gateway/internal/structs"
)

templ listServers(servers []structs.Server) {
	@w_appline() {
		<ul>
			for _, item := range servers {
				<li><a href={ templ.URL(fmt.Sprintf("/servers/%s", item.ID)) }>{ item.ID }</a></li>
			}
		</ul>
	}
}

templ PageTargetsList(user config.User, servers []structs.Server) {
	@l_app() {
		@header(user)
		@listServers(servers)
	}
}
