package templates

import (
	"fmt"
	"github.com/kazhuravlev/database-gateway/internal/structs"
	"github.com/kazhuravlev/database-gateway/internal/config"

)

templ listServers(servers []structs.Server) {
	<ul>
		for _, item := range servers {
			<li><a href={ templ.URL(fmt.Sprintf("/servers/%s", item.ID)) }>{ item.ID }</a></li>
		}
	</ul>
}

templ PageServersList(user config.User, servers []structs.Server) {
	@header(user)
	@listServers(servers)
}
